php_flag session.cookie_httponly on
php_value session.cookie_samesite Strict

# Hide PHP version

ServerSignature Off

<IfModule mod_headers.c>
    # Prevent MIME sniffing
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_headers.c>
    Header always unset X-Powered-By
    Header unset X-Powered-By
    Header always unset Server
    Header unset Server
</IfModule>
